@font-face{
    font-family: 'titleH1';
    src: url(/fonts/fontTypeFaces/HeroNormal.ttf);
}

@font-face{
    font-family: 'bodyFont';
    src: url(/fonts/fontTypeFaces/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'originalFont';
    src: url(/fonts/fontTypeFaces/Original.ttf);
}

@font-face{
    font-family: 'evergreenFont';
    src: url(/fonts/fontTypeFaces/EvergreenFont.otf);
}

@font-face{
    font-family: 'boulevardFont';
    src: url(/fonts/fontTypeFaces/BoulevardFont.ttf);
}

@font-face{
    font-family:'spectachromeFont';
    src: url(/fonts/fontTypeFaces/Spectachrome.otf);
}

@font-face{
    font-family: 'tropicHighFont';
    src: url(/fonts/fontTypeFaces/TropicHigh.otf);
}






body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/*BEGIN NAV*/
nav{
    background-color: rgb(255, 233, 68);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 10%;
    width: 100%;
}

/*END NAV*/

/*BEGIN NavTop*/
.navTop{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(0%);
    border-bottom: 1px solid #dddd;
    transition: .5s;
}

.showSearch{
    transform: translateY(-100%);
}

.navTopLeft{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.navTopLeft input{
    height: 50%;
    width: 95%;
}

.navtopRIGHT{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.hideSearch{
    background-color: transparent;
    border: none;
}

.hideSearch:hover{
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

.hideSearch img{
    width: 70%;
    height: 70%;
}

.siteSearch{
    background-color: transparent;
    border: none;
}

.siteSearch:hover{
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

.siteSearch img{
    width: 50%;
    height: 50%;
}

/*END NavTop*/


/*BEGIN NavMenu*/
.navMenu{
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 101;
    display: flex;
    border-bottom: 1px solid #dddd;
}

/*BEGIN NavMenuLeft*/
.navMenuLeft{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenuLeftLogo img{
    width: 40%;
}

/*END NavMenuLeft*/


/*BEGIN NavMenuMiddle*/
.navMenuMiddle{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #ffffff;
}


/*BEGIN NAV MENU MIDDLE BUTTONS*/
.navButton{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: black;
    background-color:#ffffff;
    border: none;
    opacity: 1;
    transition: .25s;
}

.navButton p{
    font-family: bodyFont;
    font-weight: normal;
    color: black;
}

.navButton a{ /* use for contact button */
    text-decoration: none;
    color: black;
}

.navButton:hover{
    cursor: pointer;
    opacity: .4;
    transition: .25s;
}

.navButton img{ /*arrow icon*/
    width: 10%;
    transform: translateY(10%);
}

.rotate { /* ARROW ICON IN NAV BUTTONS */
    transition: transform 0.5s;
}


/* STORE HIGHLIGHT ON BOTTOM BORDER OF STORE BUTTON */

.navButton{
    border-bottom: 4px solid white;
}

.storeButton{
    border-bottom: 4px solid rgb(255, 102, 0) ;
}


/*END NAV MENU MIDDLE BUTTONS*/

/*BEGIN NAV MENU MIDDLE DROP DOWNS*/
.navItemDropDown{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
    height:100%;
    width: 125%;
    margin: 0;
    font-family: bodyFont;
}

.navDropDown{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#ffffff;
    z-index: 99;
    width: 100%;
    height: 175%;
}

.navDropDown a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid #dddd;
    opacity: 1;
    transition: .25s ease-in-out;
}

.navDropDown a:hover{
    color: white;
    background-color: black;
    transition: .25s ease-in-out;
}

.navItemDropDown .navDropDown {
    display: flex;
    z-index: -1;
}


.storeDropDown{
    transform: translateY(57.4%);
    display: flex;
    transition: .5s;
}

.showStore{
    transform: translateY(-57.4%);
    transition: .5s;
}


.communityDropDown{
    transform: translateY(34.5%);
    display: flex;
    height:291.66666666666666%;
    transition: .5s;
}

.showCommunity{
    transform: translateY(-66%);
    transition: .5s;
}



/*END NAV MENU MIDDLE DROP DOWNS*/

/*END NavMenuMiddle*/


/*BEGIN NavMenuRight*/
.navMenuRight{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
}


/*BEGIN NavMenuRight Buttons*/

.searchButton{
    background-color: transparent;
    border: none;
    background-color: #ffffff;
    height: 50%;
    width: 10%;
}

.searchButton img{
    height: 100%;
    width: 70%;
    transform: translateY(5%);
    opacity: 1;
    transition: .25s;
}

.searchButton img:hover{
    cursor: pointer;
    opacity: .4;
    transition: .25s;
}

.cartButton{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 10%;
    color: black;
    background-color:rgb(255, 255, 255);
    opacity: 1;
    transition: .25s;
}

.cartButton p{
    font-family: bodyFont;
    font-weight: normal;
    color: black;
    opacity: 1;
    transition: .25s;
}

.cartButton:hover{
    cursor:default;
}

.cartButton p:hover{
    cursor: pointer;
    opacity: .5;
    transition: .25s;
}


/*END NavMenuRight Buttons*/

/*END NavMenuRight*/

/*END NavMenu*/



/*BEGIN NavBottom*/
.navBottom{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 24%;
    position: fixed;
    z-index: 98;
    border-bottom: 1px solid #dddd;
    border-top: 1px solid #dddd;
    transform: translateY(41%);
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.showLens{
    transform: translateY(-60%);
}

.navBottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    transform: translateY(20%);
    text-decoration: none;
    opacity: 1;
    transition: .25s;
}

.navBottom a:hover{
    opacity: .5;
    transition: .25s;
}

.navBottom a img {
    height: 5vw;
    width: 100%;
}
/*END NavBottom*/

/*BEGIN NAVBOTTOM LENS FONTS */

.navLensFont{
    background-color: transparent;
    text-decoration: none;
    color: black;
    font-size: 175%;
    font-weight: bolder;
    transform: translateY(-30%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lensFontOriginal{
    font-family: originalFont;
}

.lensFontEvergreen{
    font-family: evergreenFont;
}

.lensFontBoulevard{
    font-family: boulevardFont;
}

.lensFontSpectachrome{
    font-family: spectachromeFont;
}

.lensFontTropicHigh{
    font-family: tropicHighFont;
}



/*END NAVBOTTOM LENS FONTS */














/*END NAV */


/* BEGIN BODY */

/*BEGIN  DIV1*/

.div1{
    top: 0;
    left: 0;
    width: 100%;
    height: 225vh;
    display:flex;
    flex-direction: column;
    background-color: #f7f5f2;
}



/*begin div1 top*/
.div1Top{
    width: 100%;
    height: 50vh;
    background-color: #f7f5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(15%);
}


.div1TopMenu p{
    font-family: 'bodyfont';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    transform: translateY(155%);
}


.div1TopMenu h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 350%;
    font-family: 'titleh1';
}


.div1TopMenuButtonLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    width: 25%;
    border-radius: 5%;
    gap: 5%;
}



.div1TopMenuButtonLinks a{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bodyfont';
    font-size: 125%;
    border-radius: 5px;
    transition: .5s;
}

.sunglassesButton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apparelButton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1TopMenuButtonLinks a:hover{
    background-color:black;
    transition: .5s;
    color: white;
}
/*end div1 top*/


/*begin div1 store*/

.div1Store{
    background-color: #f7f5f2;
    top: 0;
    left: 0;
    padding-left: 2.5%;
    padding-top: 2.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.itemFilterMaster {
    position: sticky;
    top: 5%;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    transform: translateY(12%);
    font-family: 'bodyfont';
    letter-spacing: 2px;
}



/* JS SCRIPTS FOR LENS FILTER CHECKS*/
.OGshowCheck{
    display: none;
}

.BLVDshowCheck{
    display: none;
}

.SPECshowCheck{
    display: none;
}

.TROPICshowCheck{
    display: none;
}

.EVERGREENshowCheck{
    display: none;
}
/* JS SCRIPTS FOR LENS FILTER CHECKS*/


/*BEGIN FILTER LENS EXPERIENCE OF FILTER MENU */

.itemFilterTitle{
    display: flex;
    justify-content: start;
    width: 100%;
}

.itemFilterTitle h2{
    transform: translateX(15%);
}

.filterLensExperience{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border-bottom: 1px solid grey;
    border-top: 2px solid rgb(255, 102, 0);
}

.filterLensExperience h4{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.5%;
}

.filterLensExperience img{
    border-radius: 50%;
}

.filterLensExperience button{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'bodyfont';
    font-size: 100%;
    gap: 5%;
    border: none;
    background: none;
    transform: translateY(-50%);
}

.filterLensExperience button{
    transition: .25s;
}

.filterLensExperience button:hover{
    opacity: .6;
    cursor: pointer;
    transition: .25s;
}

/*END FILTER LENS EXPERIENCE OF FILTER MENU */


























/*BEGIN FILTER FRAME SHAPE  PORTION OF FILTER MENU */
.filterFrameShape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid grey;
    width: 100%;
    height: 25%;
}

.filterFrameShape button{
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: start;
    transition: .5s;
    gap: 2.5%;
    font-family: 'bodyfont';
    font-size: 100%;
}

.filterFrameShape h4{
align-self: flex-start;
padding-left: 2.5%;
}

.filterFrameShape button:hover{
    cursor: pointer;
    opacity: .6;
    transition: .25s;
}
/*END FILTER FRAME SHAPE PORTION OF FILTER MENU */

/* BEGIN FRAME SHAPE MENU JS SCRIPTS FOR FILTER TOGGLE*/
.roundFrameCheck{
    display: none;
}

.squareFrameCheck{
    display: none;
}

.catEyeFrameCheck{
    display: none;
}
/* END FRAME SHAPE MENU JS SCRIPTS FOR FILTER TOGGLE*/

















/*BEGIN FILTER MATERIAL PORTION OF FILTER MENU */
.filterMaterial{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 25%;
    border-bottom: 1px solid grey;
}

.filterMaterial h4{
    align-self: flex-start;
    padding-left: 2.5%;
    }

.filterMaterial button{
    border: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 33.333%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
    transition: .5s;
    font-family: 'bodyfont';
    font-size: 100%;
    padding-left: 2.5%;
    transition: .25s;

}


.filterMaterial button:hover{
    opacity: .6;
    cursor: pointer;
    transition: .25s;
}

.filterMaterial img{
    transform: translateY(-10%);
}

/*END FILTER MATERIAL PORTION OF FILTER MENU */


/* BEGIN MATERIAL FILTER CHECKMARK IN MENU NEEDED FOR JS SCRIPTS*/ 

.acetateMaterialCheck{
    display: none;
}

.metalMaterialCheck{
    display: none;
}

.comboMaterialCheck{
    display: none;
}

/*END MATERIAL FILTER CHECKMARK IN MENU NEEDED FOR JS SCRIPTS*/ 







/*BEGIN FILTER RESET PORTION OF FILTER MENU */
.filterRESET{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 15%;
}



.filterRESET a {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'bodyfont';
    font-size: 100%;
    font-weight: bolder;
    color: white;
    transition: .5s;
}


.filterRESET a:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: .5s;
    border: 1px solid black;
    

}
/*END FILTER RESET PORTION OF FILTER MENU */






















.storeItems {
    padding-top: 5%;
    padding-left: 2.5%;
    transform: translate(2.5%,0%);
    height: auto;
    width: 75%; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2.5%;
}

/*BEGIN SUNGLASSES ITEM */

.sunglassesItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(33.33% - 2.5%); /* Set the width of each item to fit 3 items per row */
    margin-bottom: 2.5%; /* Adjust the margin between rows */
    transition: 1s;
}

.sunglassesItem:hover{
    width: calc(34% - 2.5%); /* Set the width of each item to fit 3 items per row */
    transition: 1s;
}


.sunglassesItemInfo>h4{
    transform: translateY(-75%);
    font-size: 150%;
    font-family: 'titleh1';
    text-decoration: none;
}


.sunglassesItem p{
    font-family: 'bodyfont';
    text-decoration: none;
}

.sunglassesPrice{
    transform: translateY(-225%);
}

.sunglassesLens{
    font-size: 75%;
    transform: translateY(-350%);
}

.sunglassesItem a{
    text-decoration: none;
    color: black;
    font-size: 150%;
}


.SunglassesItemInfoLink{
    width: 100%;
    height: 100%;
}

.sunglassesItemLink {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px grey;
    
    transition: .5s;
}



.sunglassesItemLink img {
    width: 100%;
    height: 100%;
}
/*END SUNGLASSES ITEM */

.sunglassesItem {
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent wrapping */
}

.sunglassesItemLink {
    display: block; /* Ensure the link is a block-level element */
    overflow: hidden; /* Hide overflow */
}

.sunglassesItemLink img {
    display: none; /* Hide all images by default */
    max-width: 100%; /* Ensure images don't exceed container width */
}

.sunglassesItemLink img:first-child {
    display: block; /* Show only the first image */
}




























/* END DIV 1 */



/*BEGIN Social & Footer */



.socialFooter{
    position: absolute;
    background-color: rgb(39, 25, 25);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
}

.socialFooter ul{
    list-style: none;
}

.socialFooter a{
    text-decoration: none;
}

.socialFooter p{
    font-family: bodyFont;
    color: white;
}



.socialFooter a{
    font-family: bodyFont;
    color: white;
}

/* BEGIN INSTAGRAM SECTION*/

.insta{
    display: flex;
    width: 100%;
    height: 24%;
    background-color: orange;
}

.instaleft{
    background-color: white;
    height: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 2%;
    justify-content: center;
}

.instaleft h1{
    font-family: titleh1;
}

.instaleft h4{
    
}

.instaleft h4{
    font-family: bodyFont;
    transform: translateY(-200%);
    color: #black;
}



.instaright{
    background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

.instaright a{
    height: 100%;
    text-decoration: none;
    color: black;
    font-family: bodyFont;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .25s;
}

.instaright a:hover{
    font-size: 125%;
    transition: .5s;
}

.instaright h2{
    font-family: bodyFont;
    text-decoration: none;
    font-size: 175%;
}

.instaright img{
    height: 10%;
    width: 10%;
    transition: .5s
}

.instaright a:hover>img{
    height: 15%;
    width: 15%;
    transition: .5s;
}


/* END INSTAGRAM SECTION*/


/* BEGIN FOOTER PROPER*/

.footerProper{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
}

.footerProper>a{
    text-decoration: none ;
}

.footerProper a{
    opacity: 1;
    transition: .25s ease-in-out;
}

.footerProper a:hover{
    opacity: .5;
    transition: .25s ease-in-out;                                                                                             ;
}

.footerLeft{
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    transform: translateX(5%);
}

.footerLeftCol1{
    display: flex;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    transform: translate(-30%,5%);
}


.socialIcons{
    display: flex;
}

.socialIcons img{
    width: 50%;
    align-self: center;
}

.socialIcons img:hover{
    opacity: .5;
    transition: .25s ease-in-out;
}

.email>p{
    color: white;
    font-family: bodyFont;
    font-weight: bolder;
}

.footerLeftCol2{
    display: flex;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transform: translateY(5%);
        transform: translate(-50%,5%);
}

.footerLeftCol3{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}


/* END FOOTER LEFT*/

.footerCenter{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 10%;
    height: 83.5%;
}

/* BEGIN footerRight*/

.footerRight{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    text-align: center;
    border-bottom: 1px solid white;
    transform: translateX(-5%);
}

.footerRight h2{
    color: white;
    font-family: bodyFont;
}

.footerRight p{
    color: white;
    font-family: bodyFont;
}



.footerRightCol1{
    background-color: black;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerRightEmailInput{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}



.footerRightEmailInput input{
    width: 35%;
    height: 100%;
    border: none;
    background-color: white;
}

.footerRightEmailInput input::placeholder{
    color: black;
    font-family: bodyFont;
}

.footerRightEmailInput button{
    color:white;
    background-color: black;
    border: 1px solid white;
    width: 25%;
    height: 104%;
    transition: .25s;
    font-family: bodyFont;
    font-weight: bolder;
}

.footerRightEmailInput button:hover{
    background-color: white;
    color: black;
    transition: .25s;
    cursor: pointer;
}




.footerBottomLeft{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 45%;
    height: 10%;
    transform: translateX(-2%);
    font-family: bodyFont;
}

.paymentMethods{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    flex-direction: row;
}

.paymentMethods img{
    max-height: 60%;
    max-width: 60%;
    min-height: 20%;
    min-width: 20%;
    pointer-events: none;
    cursor: none;
}


.footerBottomRight{
    width: 45%;
    height: 10%;
    transform: translateX(2%);
    display: flex;
    flex-direction: row-reverse;
}

/* END FOOTER PROPER*/



/*END Social & Footer */


.currencyList{
    background-color: #ffffff;
    border: none;
    height: 50%;
    opacity: 1;
    transition: .25s ease-in-out;
}

.currencyList:focus{
    border: 2px solid black;
}

#currencyForm{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    border: none;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
}

.currencyList:hover{
    cursor: pointer;
    opacity: .5;
    transition: .25s;
}

.currencyList:focus{
    opacity: 1;
}

.currencyList option{
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}



